/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
  } 
  
  .grid-square {
    user-select: none;
    border: 1px solid lightgray;
  }

  .hover {
    background-color: black;
  }

  p {
    margin: 0;
  }

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  